@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");

body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
}

.container {
  width: 570px;
  margin: 0 auto;
  border: 1px solid black;
}

img {
  border-radius: 50%;
  border: 10px solid white;
  width: 40%;
}

/* TYPOGRAPHY */

h1,
h2,
h3 {
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0;
}

.small-text {
  font-size: 16px;
  margin-top: 5px;
}

.large-h1,
.large-h2 {
  font-weight: 900;
  display: block;
}

.large-h1 {
  font-size: 80px;
}

.large-h2 {
  font-size: 60px;
}

a {
  color: #99d930;
  font-weight: 900;
}

a:hover,
a:focus {
  color: #131313;
}

/* LAYOUT */

header,
.about-me,
.articles {
  padding: 100px 0;
}

header {
  background-color: #d7d7d7;
}

.about-me {
  background-color: #ffeaea;
}

.articles {
  background-color: #eaf9ff;
}
